body {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  line-height: 1.4em;
  font-family: "helvetica";
  color: RGBA(22, 40, 74, 1.00);
  position: relative;
  background-color: #f1ece6;
}

img {
  max-width: 100%;
}

header {
  margin: 15px;
}

header img {
  width: 10%;
}

main {
  margin: 15px 15px;
}

nav {
  position: absolute;
  top: 0;
  right: 15px;
}

.headline {
  background-color: #6bc2be;
  color: white;
  padding: 10px;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 15px;
  margin: 15px 0;
  text-align: center;
}

article {
  border-bottom: 1px solid RGBA(248, 248, 249, 1.00);
  margin-top: 25px;
  padding: 0 5px 15px 5px;
  position: relative;
}

.categorie {
  display: inline-block;
  padding: 5px 10px 5px 5px;
  margin-left: -5px;
  font-weight: bold;
  font-size: 0.95em;
  background-color: #6bc2be;
  color: white;
  border-radius: 0px 15px 15px 0px;
}

.tekst {
  margin: 10px 0;
}

.titel {
  display: inline-block;
  padding: 5px 10px 5px 5px;
  margin-left: -5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.2em;
}

.auteur {
  font-weight: bold;
  position: absolute;
  right: 15px;
  bottom: 25px;
  color: #6bc2be;
  text-decoration: none;
}

.auteur:hover {
  text-decoration: underline;
}

.tijdstip {
  color: RGBA(174, 180, 192, 1.00);
  margin: 10px 0;
}

h2 {
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.3em;
}

header a {
      color: RGBA(22, 40, 74, 1.00);
      text-decoration: none;
      font-weight: bold;
      margin-right: 5px;
}

a:hover {
      text-decoration: underline;
}

article:hover {
      background-color: RGBA(241, 242, 244, 1.00);
}

article:nth-child(2) a {
  display: block;
  text-decoration: none;
  color: #6bc2be;
  padding-bottom: 10px;
}

article .tekst {
  text-align: justify;
}

.platen {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.meld {
      background-color: #6bc2be;
      color: RGBA(182, 198, 230, 1.00);
      padding: 15px;
}

.meld h3 {
      color: black;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 0.9em;
}

.meld p {
      margin-bottom: 10px;
      font-size: 0.9em;
      color: white;
}

/* Social Media hier*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: white;
}

.fa:hover {
  text-decoration: none;
  color: black;
}

.fa-facebook:hover {
  text-decoration: none;
  color: #3B5998;
}

.fa-twitter:hover {
  text-decoration: none;
  color: #55ACEE;
}

.fa-google:hover {
  text-decoration: none;
  color: #dd4b39;
}

.fa-youtube:hover {
  text-decoration: none;
  color: #bb0000;
}

.fa-instagram:hover {
  text-decoration: none;
  color: #125688;
}

.app {
      background-color: RGBA(241, 242, 244, 1.00);
      color: RGBA(144, 152, 168, 1.00);
      padding: 15px 15px 30px 15px;
      position: relative;
}

.app h3 {
      margin-bottom: 10px;
}

.app p {
      width: 80%;
      font-size: 0.8em;
}

.app img {
      width: 50px;
      position: absolute;
      top: 15px;
      right: 15px;
}

.app a {
      color: RGBA(144, 152, 168, 1.00);
}

.parallax {
  display: none;
}

.parallax2 {
  display: none;
}

.parallax3 {
  display: none;
}

@supports (grid-area: auto) {
  @media (min-width: 800px) {
    body {
      max-width: none;
    }

    main {
    }

    article {
    
    }

    header img {
      width: 5%;
    }

    .headline {
      text-align: center;
      font-size: 1.2em;
    }

    .meld{
      text-align: center;
    }
  }

  @media (min-width: 1024px) {
    main {
    }

    article {
      display: none;
    }

    .parallax {
        /* The image used */
        background-image: url("Louis.jpg");

        /* Set a specific height */
        min-height: 800px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }

    .caption {
      position: absolute;
      left: 10%;
      top: 10%;
      width: 100%;
      color: black;
      opacity: 0.8;
    }

    .cap {
      font-size: 40px;
      font-family: helvetica;
      font-weight: bold;
      padding: 18px;
      color: black;
      background-color: white;
      border-radius: 3px;
    }

    .parallax2 {
        /* The image used */
        background-image: url("The molly brothers.jpg");

        /* Set a specific height */
        min-height: 800px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }

    .parallax3 {
        /* The image used */
        background-image: url("Bob joy.jpg");

        /* Set a specific height */
        min-height: 800px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }

    .wit {
      background-color: white;
      padding: 15px;
    }

    h1 {
      text-align: center;
      font-family: helvetica;
      font-size: 28px;
      margin-bottom: 20px;
      margin-top: 15px;
      color: black;
    }

    .wit p {
      text-align: center;
      margin-bottom: 20px;
      width: 700px;
      margin-left: auto;
      margin-right: auto;
    }

    header img {
      width: 5%;
    }

    .headline {
      text-align: center;
    }

    .meld {
      text-align: center;
    }
  }
}
